@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: none !important;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #17181f;
}

ul {
  list-style-type: none;
}

.highlight {
  background-color: #2d2e38 !important;
}

small {
  font-size: 0.8rem;
}

.done {
  color: #348558;
}
.undone {
  color: #9e7443;
}
